@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blanco: #fff;
  --negro: #111111;
  --gris: #343a40;

  --fuentePrincipal: "Raleway", sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem; /* 1.6rem = 16px */
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 1rem 0 4rem 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 5.8rem;
}

h3 {
  font-size: 5rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%; /* Responsive images */
  display: block; /* Display images as block elements */
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.btn {
  color: var(--gris);
  background-color: var(--blanco);
  border: 1px solid var(--gris);
  padding: 0.5rem 2rem;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

/** Utilidades **/
.text-center {
  text-align: center;
}
.mt-5 {
  margin-top: 5rem;
}
