/* ======================
   Variables
====================== */
:root {
  --blanco: #ffffff;
  --negro: #111111;
  --gris: #343a40;

  --fuentePrincipal: "Raleway", sans-serif;
}

/* ======================
   Reset básico
====================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======================
   Base
====================== */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ======================
   Tipografía
====================== */
h1,
h2 {
  font-weight: 900;
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 5.8rem;
}
h3 {
  font-size: 5rem;
}
/* ======================
   Utilidades
====================== */
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.mt-5 {
  margin-top: 5rem;
}

.btn {
  color: var(--gris);
  background-color: var(--blanco);
  border: 1px solid var(--gris);
  padding: 0.5rem 2rem;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

/* ======================
   Header
====================== */
.header {
  min-height: 60rem;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  color: var(--blanco);
}

.contenido-header {
  display: flex;
  flex-direction: column;
  height: calc(60rem - 4rem);
  justify-content: space-between;
  color: var(--blanco);
}

.header a {
  color: var(--blanco);
  font-size: 2rem;
}

.telefono {
  display: flex;
}

.telefono::before {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url("../img/telefono.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1rem;
}

.nombre-sitio {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
}

.nombre-sitio span {
  font-weight: 900;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.navegacion a {
  padding: 0.5rem;
  transition: background-color 300ms;
  width: 100%;
  text-align: center;
}

.navegacion a:hover {
  background-color: rgb(255 255 255 / 0.5);
  color: var(--negro);
}

.eslogan {
  text-align: center;
}

.eslogan h1 {
  font-size: 3rem;
  margin: 0;
}

.eslogan p {
  margin: 0;
  line-height: 1;
}

@media (min-width: 768px) {
  .nombre-sitio {
    font-size: 5rem;
  }

  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contacto {
    align-items: flex-end;
  }

  .navegacion {
    flex-direction: row;
  }

  .navegacion a {
    padding: 1rem 2rem;
  }

  .eslogan {
    text-align: right;
  }
  .eslogan h1 {
    font-size: 5rem;
  }
}

/** Nosotros **/
.nosotros {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url("../img//nosotros.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.contenido-nosotros {
  background-color: var(--blanco);
  padding: 2.5rem;
}

.contenido-nosotros h2,
.contenido-nosotros p {
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .nosotros {
    grid-template-columns: repeat(3, 1fr);
  }
  .contenido-nosotros {
    grid-column: 2/4;
  }
}

/** Modelos **/
.modelo {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 5rem;
}
.modelo:last-child {
  margin-bottom: 0rem;
}

.contenido-modelo {
  padding: 2rem;
  background-color: var(--blanco);
}

.basico {
  background-image: url("../img/modelo_basico.jpg");
}

.premier {
  background-image: url("../img/modelo_premier.jpg");
}

.elite {
  background-image: url("../img/modelo_elite.jpg");
}

@media (min-width: 768px) {
  .modelo {
    grid-template-columns: repeat(2, 1fr);
  }

  .basico {
    background-position: top right;
  }

  .basico .contenido-modelo {
    grid-row: 2/3;
    padding: 2rem 2rem 2rem 0rem;
  }

  .premier {
    background-position: top left;
  }

  .premier .contenido-modelo {
    grid-column: 2/3;
    padding: 2rem;
  }

  .elite {
    background-position: top right;
  }

  .elite .contenido-modelo {
    padding: 2rem 2rem 2rem 0rem;
  }
}

/** Galería **/

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.galeria .imagen:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}

.galeria .imagen:nth-child(6) {
  /* grid-column: 2/3; */
  grid-row: 2/4;
}

.galeria .imagen:nth-child(3) {
  grid-column: 2/3;
  grid-row: 3/5;
}

.galeria img {
  object-fit: cover;
  height: 100%;
}

@media (min-width: 768px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
  .galeria .imagen:nth-child(6) {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .galeria .imagen:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .galeria .imagen:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

/** Footer **/

.footer {
  height: 40rem;
  background-image: url("../img/footer_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--blanco);
}

.footer a {
  color: var(--blanco);
  font-size: 2rem;
}

.footer .copyright {
  background-color: var(--negro);
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .footer {
    height: 30rem;
  }
}
