/* ======================
   Variables
====================== */
:root {
  --blanco: #ffffff;
  --negro: #111111;
  --gris: #343a40;

  --fuentePrincipal: "Raleway", sans-serif;
}

/* ======================
   Reset básico
====================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======================
   Base
====================== */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* ======================
   Tipografía
====================== */
h1,
h2 {
  font-weight: 900;
}

h1 {
  font-size: clamp(3rem, 5vw, 4.8rem);
}

h2 {
  font-size: clamp(2.8rem, 5vw, 4rem);
}

/* ======================
   Utilidades
====================== */
.contenedor {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

/* ======================
   Header
====================== */
.header {
  min-height: 60rem;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  color: var(--blanco);
}

.contenido-header {
  display: flex;
  flex-direction: column;
  height: calc(60rem - 4rem);
  justify-content: space-between;
  color: var(--blanco);
}

.header a {
  color: var(--blanco);
  font-size: 2rem;
}

.telefono {
  display: flex;
}

.telefono::before {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url("../img/telefono.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1rem;
}

.nombre-sitio {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
}

.nombre-sitio span {
  font-weight: 900;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.navegacion a {
  padding: 0.5rem;
  transition: background-color 300ms;
  width: 100%;
  text-align: center;
}

.navegacion a:hover {
  background-color: rgb(255 255 255 / 0.5);
  color: var(--negro);
}

.eslogan {
  text-align: center;
}

.eslogan h1 {
  font-size: 3rem;
  margin: 0;
}

.eslogan p {
  margin: 0;
  line-height: 1;
}

@media (min-width: 768px) {
  .nombre-sitio {
    font-size: 5rem;
  }

  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contacto {
    align-items: flex-end;
  }

  .navegacion {
    flex-direction: row;
  }

  .navegacion a {
    padding: 1rem 2rem;
  }

  .eslogan {
    text-align: right;
  }
  .eslogan h1 {
    font-size: 5rem;
  }
}
